/* BodyHeader Styles */

#main-body {
    background-color: #ffffff;
    border: solid .15px #dddddd;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 30px;
}

#aboutBody {
    Padding: 25px;
}

#bio-img{
    float:left;
    width: 376px;
    height: 290px;
    padding: 40px 0px;
    transform: rotate(90deg);
}

p {
    text-indent: 20px;
    line-height: 2;
    margin-top: 10px;
}
