footer {
    margin: 3em 0 0 0;
}

    footer > p {
        font-size: 1.25em;
    }

#footer {
    background-color: #303030;
    color: #999;
    text-shadow: -1px -1px 0px #181818;
    text-align: center;
    padding: 1em 0 1em 0;
}

/* Small */

@media screen and (max-width: 736px) {
        footer {
            margin: 2.5em 0 0 0;
        }

            footer > p {
                font-size: 1.25em;
            }

            #contact footer {
				margin: 0;
			}
};